header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.3rem;
    margin-top: 2.2rem;
}

header>span{
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 2.4rem;
}

header>span::before{
    content: 'DO';
    color: var(--colorPrimario);
}

header>span::after{
    content: 'WALLO';
    color: var(--blanco);
}

header>input{
    width: 31.7rem;
    height: 4.6rem;
    border-radius: 2.7rem;
    padding-left: 4rem;
    background-image: url('https://th.bing.com/th/id/R.b14287424faeee2bb2cbf9fb4747efd1?rik=rUgyPvUN3HJOIQ&riu=http%3a%2f%2fcdn.onlinewebfonts.com%2fsvg%2fimg_143015.png&ehk=x%2b6k5ozVn8yg9zb%2fJlOJB0hb8qocc4wLOI1WXwoA5UI%3d&risl=&pid=ImgRaw&r=0');
    background-repeat: no-repeat;
    background-position: 1.2rem center;
    background-size: 2rem;
    font: 2rem;
    box-sizing: border-box;
}